<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <script src="https://unpkg.com/nunjucks@3.1.7/browser/nunjucks.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    <script src="https://unpkg.com/htmx.org@1.8.5/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/htmx.org@1.8.5/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/path-deps.js"></script>

    <style>
      @media (min-width: 992px) {
        main .grid {
          grid-template-columns: auto 25%;
        }
      }

      #bookmarks ul {
        padding-left: 0;
      }
      #bookmarks li {
        list-style-type: none;
      }
      #bookmarks li > a[role="button"] {
        margin-right: 1em;
      }
    </style>
  </head>

  <body>
    <main class="container" hx-ext="client-side-templates, path-deps">
      <div class="grid">
        <section>
          <h2>Bookmarks</h2>
          <div
            id="bookmarks"
            nunjucks-template="bookmark-tmpl"
            hx-get="/api/bookmarks"
            hx-swap="innerHTML"
            hx-trigger="path-deps, load"
            path-deps="/api/bookmarks"
          ></div>
        </section>

        <aside>
          <h4>Add bookmark</h4>
          <form
            id="bookmark-form"
            hx-post="/api/bookmarks"
            hx-ext="json-enc"
            hx-swap="none"
          >
            <input id="url" name="url" type="url" placeholder="URL" />
            <input id="title" name="title" type="text" placeholder="Title" />
            <button type="submit">Submit</button>
          </form>
        </aside>
      </div>

      <template id="bookmark-tmpl">
        <ul>
          {% for b in bookmarks %}
          <li>
            <a
              class="secondary"
              href="#"
              hx-delete="/api/bookmarks/{{b.id}}"
              role="button"
            >
              ×
            </a>

            <a href="{{b.url}}">{{ b.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </template>
    </main>

    <script>
      document
        .querySelector("#bookmark-form")
        .addEventListener("htmx:afterRequest", function (e) {
          e.target.reset();
        });
    </script>
  </body>
</html>
