<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@1.5.7/css/pico.min.css"
    />
    <script src="https://unpkg.com/nunjucks@3.1.7/browser/nunjucks.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    <script src="https://unpkg.com/htmx.org@1.8.5/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/htmx.org@1.8.5/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org@1.8.5/dist/ext/debug.js"></script>
    <script src="https://unpkg.com/htmx.org@1.8.5/dist/ext/path-deps.js"></script>

    <style>
      .container {
        max-width: 24em;
      }

      h2 {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      h2 > span {
        flex: 1;
      }

      #bookmarks ul {
        padding-left: 0;
      }
      #bookmarks li {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      #bookmarks li > a {
        flex: 1;
      }
      #bookmarks li > a[role="button"] {
        margin-left: 0.5em;
        flex: 0;
      }
    </style>
  </head>

  <body hx-ext="client-side-templates, path-deps">
    <div id="dialog-container"></div>

    <main class="container">
      <section>
        <h2>
          <span> Bookmarks</span>

          <a
            hx-target="#dialog-container"
            nunjucks-template="bookmark-create-tmpl"
            hx-get="/api/bookmarks"
            href="#"
            role="button"
          >
            <i class="bx bx-plus"></i>
          </a>
        </h2>
        <div
          id="bookmarks"
          nunjucks-template="bookmark-list-tmpl"
          hx-get="/api/bookmarks"
          hx-swap="innerHTML"
          hx-trigger="path-deps, load"
          path-deps="/api/bookmarks"
        ></div>
      </section>

      <template id="bookmark-list-tmpl">
        {% if bookmarks | length %}
        <ul>
          {% for b in bookmarks %}
          <li>
            <a target="_blank" href="{{b.url}}">{{ b.title }}</a>
            <a
              hx-target="#dialog-container"
              nunjucks-template="bookmark-edit-tmpl"
              hx-get="/api/bookmarks/{{b.id}}"
              class="secondary"
              href="#"
              role="button"
            >
              <i class="bx bxs-edit"></i>
            </a>

            <a
              class="secondary"
              href="#"
              hx-delete="/api/bookmarks/{{b.id}}"
              role="button"
            >
              <i class="bx bx-trash-alt"></i>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <div>
          No bookmarks found.
          <a
            hx-target="#dialog-container"
            nunjucks-template="bookmark-create-tmpl"
            hx-get="/api/bookmarks"
            href="#"
            >Create one →
          </a>
        </div>
        {% endif %}
      </template>

      <template id="bookmark-create-tmpl">
        <dialog id="create-dialog" open>
          <form
            hx-post="/api/bookmarks"
            hx-ext="json-enc"
            hx-target="#create-dialog"
            hx-swap="delete"
          >
            <label for="url">
              URL
              <input type="url" name="url" autofocus />
            </label>
            <label for="title">
              Title
              <input type="text" name="title" />
            </label>
            <button type="submit">Create</button>
            <button
              hx-get="/api/bookmarks"
              hx-target="#create-dialog"
              hx-swap="delete"
              class="secondary"
            >
              Cancel
            </button>
          </form>
        </dialog>
      </template>

      <template id="bookmark-edit-tmpl">
        <dialog id="edit-dialog" open>
          <form
            hx-ext="json-enc"
            hx-put="/api/bookmarks/{{id}}/title"
            hx-target="#edit-dialog"
            hx-swap="delete"
          >
            <label for="title">
              Title
              <input type="text" name="title" value="{{title}}" autofocus />
            </label>
            <button type="submit">Update</button>
          </form>
        </dialog>
      </template>
    </main>

    <script>
      htmx.on("htmx:beforeSwap", (e) => {
        // force swap even when response is 204
        // https://github.com/bigskysoftware/htmx/issues/199
        e.detail.shouldSwap = true;
      });
    </script>
  </body>
</html>
